body{
	margin:0 auto;
	max-width: 60em;
	font-family: "Raleway", "Arial", sans-serif;
	line-height: 1.5;
	padding: 2em 1em;
	color: #333;
	background-color: #abbe6d
}


h2 {
	color: #233B00;
	font-family: "Oswald", "Palatino", sans-serif;
	font-size: 30pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6A932B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Oswald", "Palatino", sans-serif;
    font-size: 18pt;
}

li a:hover {
    background-color: #233B00;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

#header {
	color: #ffffff;
	font-family: "Amatic SC", cursive;
	font-size: 40pt;
	font-weight: 200;
}

header {
	background-image: url("sean-mcauliffe-12857.jpg");
	background-color: #ffffff;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 0.25;
	padding: 0.25em;
	text-align: center;
}